.gradle
.settings
.project
.classpath
.vscode
build
local.properties
*.iml
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.class
bin/
gen/
out/
build/
captures/
.iws
.ipr
*.apk
*.ap_
*.aab
*.dex
Thumbs.db
.navigation
output.json